# Hide PyCharm system files
.idea/

# Visual Studio Code workspace files and configuration
*.code-workspace
.vscode/

# Python bytecode cache
__pycache__

# Sample timing data provided with project description
sample_data